@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-zinc-200 dark:border-zinc-800;
  }
  
  body {
    @apply bg-white text-zinc-800 dark:bg-zinc-950 dark:text-zinc-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
